<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Payment Status Page</title>
    <!-- <title>Payment Status Page</title> -->

 
    <!-- <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 2em;
        }
    </style> -->
</head>
 
<body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
     integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
   integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-12" style="text-align: center; margin-top: 20px;">
        <label style="font-weight: bold;">Payment Info</label>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-12" style="text-align: center; margin-top: 10px;">
            <div>
                <label class="col-md-6" style="font-weight: bold; text-align: right;">Order No</label> : <label class="col-md-6" style="text-align: left;"><%=orderNoS%></label>
            </div>        
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-12" style="text-align: center; margin-top: 10px;">
            <div>
                <label class="col-md-6" style="font-weight: bold; text-align: right;">Order Amount</label> : <label class="col-md-6" style="text-align: left;"><%=orderAmountS%></label>
            </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-12" style="text-align: center; margin-top: 10px;">
            <div>
                <label class="col-md-6" style="font-weight: bold; text-align: right;">Order Status</label> : <label class="col-md-6" style="text-align: left;"><%=orderStatusS%></label>
            </div>
    </div>
    </div>


        <!-- <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 col-2">

            </div>
            <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 col-8" style="text-align: center;">
                <table class="table" style="border: 2px solid gray;" style="margin: 0px auto;">
                    <tr>
                        <th>orderNo</th>
                        <td><%=orderNoS%></td>
                    </tr>
                    <tr>
                        <th>orderAmount</th>
                        <td><%=orderAmountS%></td>
                    </tr>
                    <tr>
                        <th>orderStatus</th>
                        <td><%=orderStatusS%></td>
                    </tr>
                </table>
            </div>
        </div> -->
<div class="row">
<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-12" style="text-align: center; margin-top: 10px;">
    <a href="https://user.tudatowers.in/">Back To HomePage</a>
</div>
</div>
</div>
</body>
</html>